<div style="text-align: center;">

<h1>Le profil de : <%= @users.first_name %></h1>

<p>Ton email : <%= @users.email %></p>
<p>Ton prénom : <%= @users.first_name %></p>
<p>Ton nom de famille : <%= @users.last_name %></p>


<a href="<%= edit_user_path %>" class="btn btn-primary">Modifier</a>








</div>