<h1>Event / index </h1>
<div style="text-align: center;">

<h1>Index des Events </h1>
<% if user_signed_in? %>
<p>
<a href="<%= new_event_path %>" class="btn btn-success">Créer un event</a>
</p>
<% else %>
<p> Il faut un compte pour créer un évenement, connecte toi :  <%= button_to "Connection", new_user_session_path, method: :get, class: "btn btn-primary" %></p>
<% end %>
<% @events.each do  |events| %>
  
  <div class="card">
  <div class="card-header">
  Event numéro : <%= events.id %>
  </div>
  <div class="card-body">
    <h5 class="card-title"><%= events.title %></h5>
    <p class="card-text">Duration : <%= events.duration %></p>
    <p class="card-text">Prix : <%= events.price %> USD</p>
    <p class="card-text">Commence le : <%= events.start_date %></p>
    <p class="card-text">La localisation : <%= events.location %></p>
    <p class="card-text"><%= events.description %></p>
    <%= button_to "Lire la suite", event_path(events.id), method: :get, class: "btn btn-primary" %>
  </div>
  </div>




  <% end %>
</div>